#Cart 
{
position: absolute;
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 20px;
text-align:    left;
text-shadow:   2px 2px 0 #000;
left: 30%;
top:7.5%;
z-index: -2;
visibility: hidden;
}

#GanasteForm
{
visibility: hidden;
font:          normal 700 48px/1 "Calibri", sans-serif;
}

#fb-root
{
visibility: hidden;
font:          normal 700 48px/1 "Calibri", sans-serif;
background: white;
}

#ganaste
{
  font:          normal 700 24px/1 "Calibri", sans-serif;
}

#ganaste2
{
  font:          normal 700 24px/1 "Calibri", sans-serif;
}

#submit
{
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
visibility: hidden;
}

#submit:hover
{
background:    #3084d0;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}


#submittxt
{
background:    #3084d0;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
visibility: hidden;
}


#precio1
{
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}

#precio1:hover
{
background:    #3084d0;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}

#precio2
{
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}

#precio2:hover
{
background:    #3084d0;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}

#precio3
{
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}

#precio3:hover
{
background:    #3084d0;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}

#precio4
{
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}

#precio4:hover
{
background:    #3084d0;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 3px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
}