#menumute
{
width: 72px;
position: absolute;
background:    #044e91;
color: white;
border-radius: 5px;
padding:       10px 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
top:10%;
left: 89.5%;
z-index: 2;
visibility: hidden;
}

#menuunmute
{
width: 72px;
position: absolute;
background:    #044e91;
color: white;
border-radius: 5px;
padding:       10px 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
top:10%;
left: 89.5%;
z-index: -1;
visibility: hidden;
}

#menumute:hover
{
width: 72px;
background:    #3084d0;
color: white;
position: absolute;
border-radius: 5px;
padding:       10px 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
top:10%;
left: 89.5%;
z-index: 2;
}

#menuunmute:hover
{
width: 72px;
background:    #3084d0;
color: white;
position: absolute;
border-radius: 5px;
padding:       10px 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
top:10%;
left: 89.5%;
z-index: -1;
}

#menuinstrucciones
{
width: 110px;
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
position: absolute;
top:25%;
left: 89.5%;
z-index: 2;
visibility: hidden;
}

#menuabout
{
width: 110px;
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
position: absolute;
top:44.5%;
left: 89.5%;
z-index: 2;
visibility: hidden;
}

#menuinstrucciones:hover
{
width: 110px;
background:    #3084d0;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
position: absolute;
top:25%;
left: 89.5%;
z-index: 2;
}

#menuabout:hover
{
width: 110px;
background:    #3084d0;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
position: absolute;
top:44.5%;
left: 89.5%;
z-index: 2;
}

#Instrucciones
{
position: absolute;
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 120% "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 20px;
text-align:    left;
text-shadow:   2px 2px 0 #000;
left: 24%;
top:24%;
z-index: -1;
visibility: hidden;
}

#Acerca
{
position: absolute;
background:    #044e91;
border:        0px solid #569;
border-radius: 5px;
color:         #fff;
display:       inline-block;
padding:       10px 20px;
font:          normal 700 24px/1 "Calibri", sans-serif;
margin-top: 3px;
margin-bottom: 3px;
margin-left: 3px;
margin-right: 20px;
text-align:    center;
text-shadow:   2px 2px 0 #000;
left: 47.75%;
top:30%;
z-index: -1;
visibility: hidden;
}